<main class="h-100">
  <section class="container px-md-3 px-3 text-color h-100 h-auto-mobile">
    <section class="row p-4 p-sm-5">
      <article class="col-12 col-sm-6 p-0">
        <h4 class="font-weight-bold mb-0">Diretórios</h4>
        <p
          *ngIf="
            nameActualPartitionSubject$ | async as nameActualPartition;
            else namePending
          "
          class="mb-0 text-primary-color"
        >
          <small>
            {{ nameActualPartition | titlecase }}
          </small>
        </p>
        <ng-template #namePending>
          <p class="mb-0 text-primary-color">
            <ngx-spinner
              bdColor="rgba(0, 0, 0, 0)"
              size="default"
              color="#fff"
              type="ball-clip-rotate-multiple"
              [fullScreen]="false"
            ></ngx-spinner>
          </p>
        </ng-template>
        <small>
          Gerencie seus diretórios e defina a hierarquia que quiser pra eles.
          Cadastre, edite, faça filtros, exclua e muito mais.
        </small>
      </article>
      <article class="col-12 col-sm-6 p-0 pt-3">
        <button
          class="float-none float-sm-right"
          type="button"
          pButton
          icon="pi pi-plus-circle"
          label="Novo diretório"
          (click)="onClickNewDirectory()"
        ></button>
      </article>
    </section>
    <section
      *ngIf="
        actualPartition$ | async as actualPartition;
        else actualPartitionPending
      "
      class="row-fluid px-4 pb-5 px-sm-5"
    >
      <div class="row position-unset wrapper p-auto p-sm-3">
        <p-tree
          class="w-100"
          [value]="actualPartition.directoryList"
          selectionMode="single"
          emptyMessage="Nenhum diretório encontrado"
          [(selection)]="selectedDirectoryTreeNode"
          [filter]="true"
          [contextMenu]="cm"
        ></p-tree>
      </div>
    </section>
    <ng-template #actualPartitionPending>
      <div
        *ngIf="errorDirectories$ | async; else actualPartitionLoading"
        class="col-12 text-center py-4"
      >
        <p class="text-color-secondary">
          Não foi possível buscar seus diretórios, tente novamente mais tarde.
        </p>
      </div>
      <ng-template #actualPartitionLoading>
        <div class="col-12 text-center py-4">
          <ngx-spinner
            bdColor="rgba(0, 0, 0, 0)"
            size="default"
            color="#fff"
            type="ball-clip-rotate-multiple"
            [fullScreen]="false"
          ></ngx-spinner>
        </div>
      </ng-template>
    </ng-template>
  </section>
</main>

<p-dialog
  header="Inserir nova partição"
  styleClass="dialog"
  closeIcon="pi pi-times-circle"
  [(visible)]="visibleDialog"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-directory-form
    [directory]="selectedDirectory"
    [operation]="operationForm"
    (submitted)="onSubmittedDirectoryForm($event)"
  ></app-directory-form>
</p-dialog>
<p-contextMenu #cm [model]="itemsContextMenu"></p-contextMenu>
