main .container {
  background-color: var(--layer-4);
}

main .container .wrapper {
  background-color: var(--layer-0);
  border-radius: 0.5rem;
}

.position-unset {
  position: unset;
}

:host ::ng-deep .dialog {
  width: var(--dialog-width-md);
}

:host ::ng-deep .tree {
  width: 100%;
  border: none;
  background-color: transparent;
}

:host ::ng-deep .ui-tree {
  width: 100%;
  border: none;
  background-color: transparent;
}

:host ::ng-deep .ui-inputtext {
  border: none !important;
  background-color: var(--layer-4);
}

:host
  ::ng-deep
  .ui-tree
  .ui-tree-container
  .ui-treenode
  .ui-treenode-content:hover {
  background-color: var(--layer-1);
  transition: 0.1s;
}

:host
  ::ng-deep
  .ui-tree
  .ui-tree-container
  .ui-treenode
  .ui-treenode-content:focus,
:host ::ng-deep .ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: 0 0 0 0.1em var(--layer-1);
  color: #dedede;
}

:host
  ::ng-deep
  .ui-tree
  .ui-tree-container
  .ui-treenode
  .ui-treenode-content:focus {
  background-color: var(--layer-1);
  transition: 0.2s;
}

:host
  ::ng-deep
  .ui-tree
  .ui-tree-container
  .ui-treenode
  .ui-treenode-content.ui-treenode-selectable
  .ui-treenode-label:not(.ui-state-highlight):hover {
  background-color: transparent;
}

/* mobile rule  */
@media screen and (max-width: 576px) {
  .btn-icon {
    padding: 0.5rem 0 0.2rem 0;
  }
  .btn-icon:hover {
    background-color: transparent;
  }
  main .container .item:not(:first-child) {
    padding: 0 1rem 1rem 1rem !important;
  }
}

@media screen and (max-width: 40em) {
  :host ::ng-deep .dialog {
    width: var(--dialog-width-xl);
  }
}
