main .container {
  background-color: var(--layer-4);
}

main .container .partition {
  background-color: var(--layer-4);
  border-radius: 0.5rem;
}

main .container .wrapper {
  background-color: var(--layer-0);
  border-radius: 0.5rem;
}

main .container .bb-1 {
  height: 0;
  width: 100%;
  margin: 15px;
  border-bottom: 1px solid var(--primary-color);
}

.btn-icon {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.5rem 0.4rem 0.2rem 0.4rem;
  border-radius: 3px;
}

.btn-icon:hover {
  background-color: var(--layer-0);
}

.btn-icon:focus {
  outline: none;
}

.position-unset {
  position: unset;
}

:host ::ng-deep .dialog {
  width: var(--dialog-width-md);
}

/* mobile rule  */
@media screen and (max-width: 576px) {
  .btn-icon {
    padding: 0.5rem 0 0.2rem 0;
  }
  .btn-icon:hover {
    background-color: transparent;
  }
  main .container .item:not(:first-child) {
    padding: 0 1rem 1rem 1rem !important;
  }
}

@media screen and (max-width: 40em) {
  :host ::ng-deep .dialog {
    width: var(--dialog-width-xl);
  }
}
