<main class="h-100">
  <section class="container px-md-3 px-3 text-color h-100 h-auto-mobile">
    <section class="row p-4 p-sm-5">
      <article class="col-12 col-sm-6 p-0">
        <h4 class="font-weight-bold">Partições</h4>
        <small>
          Gerencie suas partições para um melhor controle sobre a localização de
          seus diretórios virtuais.
        </small>
      </article>
      <article class="col-12 col-sm-6 p-0 pt-3">
        <button
          class="float-none float-sm-right"
          type="button"
          pButton
          icon="pi pi-plus-circle"
          label="Nova partição"
          (click)="onClickNewPartition()"
        ></button>
      </article>
    </section>
    <section
      *ngIf="partitions$ | async as partitions; else pending"
      class="row-fluid px-4 pb-5 px-sm-5"
    >
      <div
        *ngIf="partitions && partitions.length; else noData"
        class="row position-unset wrapper p-auto p-sm-3"
      >
        <div
          *ngFor="let partition of partitions"
          class="col-12 col-md-6 position-unset p-3 item"
        >
          <div class="partition p-3">
            <section class="row">
              <div class="col-12 col-sm-10 position-unset">
                <p class="font-weight-bold mb-0">
                  {{ partition.name | titlecase }}
                </p>
                <small
                  >Modificado em
                  {{ partition.modifiedDate | date: 'short' }}</small
                >
              </div>
              <div class="col-12 col-sm-2 position-unset">
                <p-menu
                  #menu
                  [popup]="true"
                  [model]="itemsContextMenu"
                ></p-menu>
                <button
                  class="btn-icon float-none float-sm-right"
                  (click)="toggleMenu(menu, $event, partition)"
                >
                  <i class="pi pi-ellipsis-h"></i>
                </button>
              </div>
              <div class="bb-1"></div>
            </section>
            <section class="row d-flex justify-content-between">
              <div class="col-9 col-sm-7 d-flex pt-1">
                <i class="pi pi-folder"></i>
                <p class="ml-2 mb-0">
                  {{ partition.directoryList.length }} directories
                </p>
              </div>
              <div class="col-3 col-sm-5">
                <button
                  class="float-right"
                  type="button"
                  pButton
                  icon="pi pi-arrow-circle-right"
                  [routerLink]="[partition.id, 'directories']"
                ></button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <ng-template #noData>
      <div class="col-12 text-center pt-4">
        <p class="text-color-secondary">Nenhuma partição cadastrada.</p>
      </div>
    </ng-template>
    <ng-template #pending>
      <div *ngIf="error$ | async; else loading" class="col-12 text-center py-4">
        <p class="text-color-secondary">
          Erro ao buscar partições, tente regarregar a página.
        </p>
      </div>
      <ng-template #loading>
        <div class="col-12 text-center py-4">
          <ngx-spinner
            bdColor="rgba(0, 0, 0, 0)"
            size="default"
            color="#fff"
            type="ball-clip-rotate-multiple"
            [fullScreen]="false"
          ></ngx-spinner>
        </div>
      </ng-template>
    </ng-template>
  </section>
</main>

<p-dialog
  header="Inserir nova partição"
  styleClass="dialog"
  closeIcon="pi pi-times-circle"
  [(visible)]="visibleDialog"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-partition-form
    *ngIf="visibleDialog"
    [operation]="operationForm"
    [partition]="selectedPartition"
    (submitted)="onSubmittedPartitionForm($event)"
  ></app-partition-form>
</p-dialog>
