@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --layer-3: #191919;
  --layer-4: #252525;
  --dialog-width-md: 30vw;
  --dialog-width-xl: 90vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--layer-3);
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: var(--primary-color);
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon,
body .ui-toast .ui-toast-message.ui-toast-message-success {
  color: white;
}

.text-color {
  color: var(--text-color);
}

.text-color-secondary {
  color: var(--text-color-secondary);
}

.text-primary-color {
  color: var(--primary-color)
}

/* mobile rule */
@media screen and (max-width: 576px) {
  .h-auto-mobile {
    height: auto !important;
  }
}
