main {
  background-color: var(--layer-3);
  position: relative;
}

main .container {
  background-color: var(--layer-4);
}

.content-wrapper {
  background-color: var(--layer-1);
  color: var(--text-color);
  border-radius: 1rem;
}

:host ::ng-deep .dialog {
  width: var(--dialog-width-md);
}

@media screen and (max-width: 40em) {
  :host ::ng-deep .dialog {
    width: var(--dialog-width-xl);
  }
}
