<main class="h-100">
  <section class="container px-md-5 px-3 h-100">
    <section class="row align-items-center h-100 mx-md-5 mx-3">
      <article class="content-wrapper col-12 align-self-center p-4 text-center">
        <img
          class="img-fluid"
          src="../../../assets/welcome/welcome-ilustration.svg"
          alt="Illustration folders"
        />
        <div class="mx-auto my-5">
          <h4 class="font-weight-bold">Bem vindo ao Fast Directories</h4>
          <h5>Guia de configuração</h5>
          <br />
          <p>
            Notamos que você é novo por aqui. Para começar a estruturar seus
            diretórios, primeiro crie uma partição.
          </p>
        </div>
        <button
          type="button"
          pButton
          icon="pi pi-plus-circle"
          label="Nova partição"
          (click)="onClickNewPartition()"
        ></button>
      </article>
    </section>
  </section>
</main>

<p-dialog
  header="Inserir nova partição"
  styleClass="dialog"
  closeIcon="pi pi-times-circle"
  [(visible)]="visibleDialog"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <app-partition-form
    *ngIf="visibleDialog"
    (submitted)="onSubmittedPartitionForm($event)"
  ></app-partition-form>
</p-dialog>
