<form
  class="form-inline py-3"
  (ngSubmit)="onSubmit(directoryForm)"
  #directoryForm="ngForm"
>
  <section class="form-row w-100 mx-auto">
    <div class="col-10 col-sm-11 w-100">
      <input
        type="text"
        name="directoryName"
        class="w-100 h-100"
        pInputText
        placeholder="Nome do directório"
        [(ngModel)]="directory.name"
        #name="ngModel"
        required
      />
    </div>
    <div class="col-2 col-sm-1 w-100">
      <button
        type="submit"
        class="w-100 h-100"
        pButton
        icon="pi pi-arrow-circle-right"
        [disabled]="directoryForm.invalid"
      ></button>
    </div>
  </section>
</form>
